<%= require('../includes/header.html').default %>
  <header class="catalog-header">
    <section class="tabs" id="pointsTabs">
    </section>
    <aside class="catalog-header__aside">
      <span class="catalog-header__text" id="bikes-count"></span>
    </aside>
  </header>
  <section class="catalog" id="catalog">
  </section>
  <section class="pagination" id="pagination">
  </section>

  <div class="bike-card catalog__item hidden" id="bike-template-card">
    <a data-field="bike-order-btn" class="bike-card__preview">
      <img data-field="bike-img" alt="Велосипед" />
    </a>
    <h4 data-field="bike-name"></h4>
    <p data-field="bike-cost"></p>
    <footer class="bike-card__footer">
      <button data-field="bike-order-btn" class="button">Арендовать</a>
    </footer>
  </div>

  <div class="modal modal--bike hidden" id="template-modal-bike-rented">
    <div class="modal__background" data-control="modal-background"></div>
    <div class="modal__content">
      <header class="modal__title">
        <h2 data-field="bike-name" class="modal__title-text"></h2>
        <span data-field="bike-cost" class="modal__title-price"></span>
        <img data-control="modal-btn-close" src="./images/close.svg" alt="close">
      </header>
      <div class="bike-details">
        <div class="bike-details__content">
          <img data-field="bike-img" alt="bike" />
          <h4 class="bike-details__subheader">Пункт проката</h4>
          <img src="./images/map.png" alt="map">
        </div>
        <aside class="bike-details__aside">
          Код получения
          <br />
          <br />
          <img src="./images/qr.png" alt="">
        </aside>
      </div>
    </div>
  </div>

  <div class="modal modal--bike hidden" id="template-modal-bike">
    <div class="modal__background" data-control="modal-background"></div>
    <div class="modal__content">
      <header class="modal__title">
        <h2 data-field="bike-name" class="modal__title-text"></h2>
        <img data-control="modal-btn-close" src="./images/close.svg" alt="close">
      </header>
      <div class="bike-details">
        <div class="bike-details__content">
          <img data-field="bike-img" alt="bike" />
          <h4 class="bike-details__subheader">Пункт проката</h4>
          <img src="./images/map.png" alt="map">
        </div>
        <aside class="bike-details__aside">
          <h3 data-field="bike-cost"></h3>
          <br />
          <button data-control="bike-rent" class="button">Арендовать</button>
        </aside>
      </div>
    </div>
  </div>

  <script src="/catalog.js"></script>

  <%= require('../includes/footer.html').default %>