<%= require('../includes/header.html').default %>
  <header class="catalog-header">
    <section class="tabs">
      <a href="#" class="tabs__link">Плахотного, 9</a>
      <a href="#" class="tabs__link">Советская, 93</a>
      <a href="#" class="tabs__link">Дуси Ковальчук, 266/3</a>
      <a href="#" class="tabs__link tabs__link--active">Все пункты</a>
    </section>
    <aside class="catalog-header__aside">
      <a href="#modal-map" class="icon-map catalog-header__link">На карте</a>
      <div class="catalog-header__switches">
        <input type="radio" name="catalog-type" checked class="visually-hidden" id="cat-1">
        <label class="catalog-header__switch" for="cat-1">
          <img src="../../images/dots.svg" alt="карточки">
        </label>
        <input type="radio" name="catalog-type" class="visually-hidden" id="cat-2">
        <label class="catalog-header__switch" for="cat-2">
          <img src="../../images/bars.svg" alt="таблица">
        </label>
      </div>
      <span class="catalog-header__text">148 велосипедов</span>
    </aside>
  </header>
  <section class="catalog" id="catalog">
  </section>
  <section class="pagination">
    <a href="#" class="pagination__link pagination__link--active">1</a>
    <a href="#" class="pagination__link">2</a>
    <a href="#" class="pagination__link">3</a>
    <a href="#" class="pagination__link">4</a>
    <a href="#" class="pagination__link">5</a>
    <a href="#" class="pagination__link">6</a>
    <a href="#" class="pagination__link">7</a>
    <a href="#" class="pagination__next">Дальше</a>
  </section>

  <div class="bike-card catalog__item hidden" id="bike-template-card">
    <a data-field="bike-order-btn" class="bike-card__preview">
      <img data-field="bike-img" src="../../images/b1.png" alt="Велосипед">
    </a>
    <h4 data-field="bike-name">FORWARD APACHE 29 3.0 HD 2022</h4>
    <p>240 ₽/час</p>
    <footer class="bike-card__footer">
      <button data-field="bike-order-btn" class="button">Арендовать</a>
    </footer>
  </div>

  <script src="/catalog.js"></script>

  <%= require('../includes/footer.html').default %>